<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/desayunos" routerLinkActive="active">Desayunos</a>
        <a class="nav-link" routerLink="/pulguitas" routerLinkActive="active" >Pulguitas</a>
        <a class="nav-link" routerLink="/tapas" routerLinkActive="active">Tapas</a>
        <a class="nav-link" routerLink="/cafes" routerLinkActive="active">Cafés</a>
        <a class="nav-link" routerLink="/infusiones" routerLinkActive="active">Infusiones</a>
      </div>
    </div>
  </div>
</nav>
