<h3>¿Apetece algo salado? </h3>
<hr>
<ul>
  <li><b>Café</b> ó <b>zumo</b> ó <b>infusión</b> con <b>1/2 tostada</b> de <b>tomate</b> / <b>aceite</b> / <b>mantequilla y mermelada</b>.
  <p><i>1,80€</i></p></li>
  <li><b>Cafe</b>  ó <b>zumo</b> ó <b>infusión</b> con <b>tostada entera</b> de <b>tomate</b> / <b>aceite</b> / <b>mantequilla y mermelada</b>
    <p><i>2,30€</i></p></li>
</ul>

<h3>Yo soy más de dulce </h3>
<hr>
<ul>
  <li><b>Café cortado </b> / <b>solo</b> ó <b>zumo</b> ó <b>infusión</b> con <b>pieza de bollería</b>.
  <p><i>1,80€</i></p></li>
  <li><b>Cafe</b>  ó <b>zumo</b> ó <b>infusión</b> con <b>tostada entera</b> de <b>tomate</b> / <b>aceite</b> / <b>mantequilla y mermelada</b>
    <p><i>2,30€</i></p></li>
</ul>
